html {
  position: relative;
  min-height: 100%;
}
body {
  font-family:'Open Sans',"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 300;
  background-color: #b7b3b2;
  padding-top: 70px;
  margin-bottom: 80px;
}

/* NAVBAR */
.container {
  font-size: 16px
}
.navbar-default {
  background-color: #5e0000;
}

.navbar-default .navbar-brand{
  color:white;
}

.navbar-default .navbar-nav>li>a{
  font-weight: 700;
}

.navbar-brand{
  font-family:"Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.9em;
  text-transform: lowercase;
  font-weight: 100;
  
}

.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li.active>a{
  border-bottom:3px solid;
  padding-bottom:12px;
}

.navbar-default .navbar-nav>li:first-child>a,.navbar-default .navbar-nav>li:first-child>a:hover,.navbar-default .navbar-nav>li:first-child>a:focus{
  color: white;  
}

.navbar-default .navbar-nav>li:nth-child(2)>a,.navbar-default .navbar-nav>li:nth-child(2)>a:hover,.navbar-default .navbar-nav>li:nth-child(2)>a:focus{
  color: white;
}

.navbar-default .navbar-nav>li:nth-child(3)>a,.navbar-default .navbar-nav>li:nth-child(3)>a:hover,.navbar-default .navbar-nav>li:nth-child(3)>a:focus{
  color: white;  
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav >li.active>a{
  color: white;
  background-color: #a00303;
}

/*home page*/
.postPreviewBox {
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 11px 14px -4px #504237;
  padding: 13px;
}
.readMoreLink {
  font-size: 16px;  
}

.posts-list {
  background-color: #ffffff;
  margin-bottom: 22px;
}
.posts-list h2{
  font-family: 'Open Sans',"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:38px;
  line-height: 1.2em;
  font-weight: 400;
  color: #337ab7; 
}

.posts-list a{
  font-family: 'Open Sans',"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:16px;
  line-height: 1.2em;
  font-weight: 400;
  color: black; 
}

.posts-list p{
  font-family: 'Open Sans',"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:16px;
  line-height: 1.2em;
  font-weight: 400;
  color: #6c6e70; 
}

/*about page*/
#about-page {
  padding-top: 30px;
}

.about-page p{
  font-size: 26px;
}  

/*archive page*/
.archive-page{
  font-size: 18px;
  color:black;
}

/*Post page*/
.panel-info > .panel-heading {
background-color: #d6e5f9;
border-color: #d6e5f9;
}

.panel-body{
  font-size: 22px;
}

.panel-heading h3{
  font-size: 35px;
  color: black;
}

.panel-heading b{
  font-size: 22px;
  color: black;
}

.row2 {
  text-align: center;
}

.text-muted small{
  font-size: 17px;
}

/*post buttons*/
.next a{
  color: #701022;
  font-size: 16px;
} 

.previous a{
  color: #701022;
  font-size: 16px;
} 

/* FOOTER */
.footer {
  color: white;
  text-align: center;
  background-color: #325e3b;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.footerBox {
  padding-top: 5px;
  padding-bottom: 5px;
}

.footerBox p{
  color: white;
  font-size: 18px;
  margin: 18px		
}

/*Responsive*/
/* for mobile phones*/
@media screen and (max-width: 479px)  { 
  .archive-page{
  font-size: 19px;
  font-weight: bold;
  }

 .about-page p{
  font-size: 16px;
  font-weight: bold;	 
  }

  .panel-body{
    font-size: 15px;
  }

  .panel-body img{
    max-width:100% !important;
    height:auto;
    display:block;
  }

  .next a{
  color: black;
  font-size: 12px;
  } 

  .previous a{
  color: black;
  font-size: 12px;
  }

  .footer {
  bottom: -78px;
  height: 124px;
  }

}

